body {background-image: -o-linear-gradient(150deg, #F08080 15%,
   #F0FFF0 30%,
   #F0FFF0 50%,
  #C0C0C0 40);
  margin: 0.6;
  min-height: 100vh;
  width: 100%;}


  main {align-itens: center;
display: flex;
height: 100vh;
justify-content: center;}


main >section img {
    height:300px ;
Margin: 15px 0;
width: 200px;}
main > section button {background-color: darkred;
border-radius:30px;
color: silver;
font-family: 'Times New Roman', Times, serif;
font-cise: 16 px;
font-weight: 200;
letter-spacing:- 0.2px;
line-height: 20px;
text-transform: uppercase;
padding: 20px;
